@import "tailwindcss";

/* --- reset css --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
ol, ul, menu {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  box-shadow: none;
}
button {
  cursor: pointer;
}
textarea {
  resize: vertical;
  overflow: auto;
}
[hidden] {
  display: none !important;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
